<div ng-controller="MFiltersController"
     data-ng-init="init({
        urls: {
        getcolomns: '@Url.Action("GetColumns","RFilterTable")',
        gettables: '@Url.Action("Fetch","RFilterTable")',
        getoperators: '@Url.Action("GetOperatorsForType","Filters")',
        getfilters: '@Url.Action("Fetch","Filters")',
        mngmfilter: '@Url.Action("Manage","RFilters")',
        getmfilters: '@Url.Action("Fetch","Rfilters")',
        getwildcards: '@Url.Action("Fetch","Wildcards")',
        getreccards: '@Url.Action("Fetch","RecepientCards")',
        getreservedcards: '@Url.Action("GetReservedCodes","RecepientCards")'
        }
    })">

    <!-- Enumeration -->
    <div class="col-xs-3 enum-container">
        <a ng-click="NewMFilt()"> create new </a>
        <div ng-repeat="mfil in va.metafilters | orderBy: 'Name'">
            <span class="txt-c-gr">
                <a class="iconclick padd-hor-t" ng-click="EditMFilt(mfil)">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a class="iconclick padd-hor-t" ng-click="RemoveMfilt(mfil)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                <span class="padd-hor-t txt-c-gr txt-anim" ng-class="{'txt-accent':mfil.Id===va.curmetafilter.Id}">
                    {{mfil.Name}}
                </span>
            </span>
        </div>
    </div>

    <!-- Editor -->
    <div class="col-xs-9">
        <div ng-if="va.curmetafilter!==null">
            <div class="col-xs-12 no-padding clearfix" style="min-height:200px">
                <div class="col-xs-8 editor-container">
                    <div>
                        <!--NAME-->
                        <div class="txt-c-base txt-s-med">
                            <input class="txtinput-big" style="width:320px" type="text"
                                   ng-model="va.curmetafilter.Name" />
                        </div>
                        <!-- Editing BaseTable -->
                        <div class="txt-c-gr">
                            <span class="txt-c-grmore">
                                Based on Table:
                            </span>
                            <span>
                                {{va.curmetafilterBaseTableName()}}
                            </span>
                            <!--TURN EDIT-->
                            <span ng-if="!va.showTableChoose">
                                <i class="glyphicon iconclick glyphicon-pencil" ng-click="ShowTableChoose(true)"> </i>
                            </span>
                        </div>
                        <!--CHOOSE BaseTable-->
                        <div ng-if="va.showTableChoose" class="unfold-block-mini">
                            <div ng-repeat="table in va.basetables | orderBy: 'Name'">
                                <div class="txt-c-gr">
                                    <span class="txt-anim hover-highlight txt-c-gr clickable" ng-click="SetCurBaseTable(table)">
                                        <i class="glyphicon iconclick"
                                           ng-class="va.curbasetable===table ? 'glyphicon-check txt-c-gr' : 'glyphicon-unchecked'"></i>
                                        <span>{{table.Name}}</span>
                                        <span class="txt-c-grmore">({{table.ReferencedTableName}})</span>
                                    </span>
                                    <!-- Save Changes -->
                                    <span ng-if="(va.curbasetable===table)&&(!IsCurMFiltHasTable(table))">
                                        <i class="glyphicon iconclick glyphicon-ok-sign"
                                           ng-click="SetCurTableToCurMFilt()"></i>
                                    </span>
                                </div>
                            </div>
                            <!--CANCEL change BaseTable-->
                            <div ng-if="va.showTableChoose&&va.curmetafilter.BaseTableId!==-1">
                                <span class="txt-anim hover-highlight txt-c-gr clickable" ng-click="SetCurTableFromCurMFilt()">
                                    <i class="glyphicon glyphicon-ban-circle"> </i>
                                    Cancel
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- If base Table is set we can edit rest things -->
                    <div ng-if="(!va.showTableChoose)&&IsCurMFiltHasAnyTable()&&IsCurMFiltHasTable(va.curbasetable)">

                        <!--Recepients Cards-->
                        <div class="editor-container col-xs-12 no-padding perspective-cont">
                            <div class="controlbox hover-closer clickable"
                                 ng-click="va.SHOW_RCARDS=!va.SHOW_RCARDS"
                                 droppable id="{{va.reccardCreator_ID}}" drop="NewRecardDrop">
                                Recepient cards
                                <div class="txt-s-small">
                                    (drop key here to create new, click to fold/unfold)
                                </div>
                            </div>

                            <div ng-if="va.SHOW_RCARDS" class="foldable editor-container bounded-block-m">
                                <div class="txt-c-grmore txt-s-med" ng-if="va.curmetafilter.reccards.length==0">
                                    No Recepient cards. Drag Key from right list to create new.
                                </div>
                                <div ng-repeat="rc in va.curmetafilter.reccards" class="ngan-fade-mid">
                                    <div ng-if="!rc.ng_ToDelete" class="wildcard item-row" ng-class="{'invalid':rc.Invalid}">
                                        <div>
                                            <input class="txtinput" style="width:70%" type="text"
                                                   ng-model="rc.Name"
                                                   ng-model-options='{ debounce: 500 }'
                                                   ng-change='ValidateItem(rc,"reccard")' />
                                            <i class="glyphicon iconclick glyphicon-trash txt-c-gr"
                                               ng-click="RemoveItem(rc)"></i>
                                        </div>
                                        <div class="txt-anim txt-c-gr recepientkey" droppable id="{{MakeId(va.reccardDropName,rc.Id)}}" drop="RecardDropKey">
                                            Recipent Name Key:
                                            <span class="txt-c-base">
                                                {{rc.NameKey}}
                                            </span>
                                        </div>
                                        <div class="txt-anim txt-c-gr recepientkey" droppable id="{{MakeId(va.reccardDropEmail,rc.Id)}}" drop="RecardDropKey">
                                            Email Key:
                                            <span class="txt-c-base">
                                                {{rc.EmailKey}}
                                            </span>
                                        </div>
                                        <div class="txt-anim txt-c-gr recepientkey" droppable id="{{MakeId(va.reccardDropPhone,rc.Id)}}" drop="RecardDropKey">
                                            Phone Key:
                                            <span class="txt-c-base">
                                                {{rc.PhoneKey}}
                                            </span>
                                        </div>
                                    </div>
                                    <!--Restore deleted item-->
                                    <div ng-if="rc.ng_ToDelete" class="wildcard item-row" ng-class="{'invalid':rc.Invalid}">
                                        <span class="txt-c-gr">
                                            {{rc.Name}}
                                        </span>
                                        <span class="txt-c-grmore">
                                            (deleted)
                                        </span>
                                        <span ng-click="RestoreItem(rc)" class="txt-c-gr txt-anim hover-highlight clickable">
                                            restore
                                        </span>
                                    </div>
                                    <!--Validation info, if invalid-->
                                    <div class="txt-s-small ngan-fade-mid" ng-if="(!rc.ng_ToDelete)&&rc.Invalid">
                                        {{GetValidationInfo(rc)}}
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!--WILDCARDS-->
                        <div class="editor-container col-xs-12 no-padding perspective-cont">
                            <div class="controlbox hover-closer clickable"
                                 ng-click="va.SHOW_WCARDS=!va.SHOW_WCARDS"
                                 droppable id="{{va.wildcardCreator_ID}}" drop="NewWildcardDrop">
                                Wildcards
                                <div class="txt-s-small">
                                    (drop key here to create new, click to fold/unfold)
                                </div>
                            </div>
                            <div ng-if="va.SHOW_WCARDS" class="foldable editor-container bounded-block-m">
                                <div class="txt-c-grmore txt-s-med" ng-if="va.curmetafilter.wildcards.length==0">
                                    No Wildcards. Drag Key from right list to create new.
                                </div>
                                <div ng-repeat="wc in va.curmetafilter.wildcards" class="ngan-fade-mid">
                                    <div ng-if="!wc.ng_ToDelete" class="wildcard item-row" ng-class="{'invalid':wc.Invalid}">
                                        <div>
                                            <input class="txtinput" style="width:70%" type="text"
                                                   ng-model="wc.Name"
                                                   ng-model-options='{ debounce: 500 }'
                                                   ng-change='ValidateItem(wc,"wildcard")' />
                                            <i class="glyphicon iconclick glyphicon-trash txt-c-gr"
                                               ng-click="RemoveItem(wc)"></i>
                                        </div>
                                        <div>
                                            <span class="txt-c-grmore">
                                                Code Preview:
                                            </span>
                                            <span class="txt-c-gr">
                                                {{wc.Code}}
                                            </span>
                                            <input class="txtinput" style="width:100%" type="text"
                                                   ng-model="wc._Code" ng-change="WildCardUpdateCode(wc)"
                                                   ng-model-options='{ debounce: 500 }' />
                                        </div>
                                        <div>
                                            <span class="txt-c-grmore">
                                                Key:
                                            </span>
                                            <span class="txt-c-gr">
                                                {{wc.Key}}
                                            </span>
                                        </div>
                                    </div>
                                    <!--Restore deleted item-->
                                    <div ng-if="wc.ng_ToDelete" class="wildcard item-row" ng-class="{'invalid':rc.Invalid}">
                                        <span class="txt-c-gr">
                                            {{wc.Name}}
                                        </span>
                                        <span class="txt-c-grmore">
                                            (deleted)
                                        </span>
                                        <span ng-click="RestoreItem(wc)" class="txt-c-gr txt-anim hover-highlight clickable">
                                            restore
                                        </span>
                                    </div>
                                    <!--Validation info, if invalid-->
                                    <div class="txt-s-small ngan-fade-mid" ng-if="(!wc.ng_ToDelete)&&wc.Invalid">
                                        {{GetValidationInfo(wc)}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--FILTERS-->
                        <div class="editor-container col-xs-12 no-padding perspective-cont">
                            <div class="controlbox hover-closer clickable"
                                 ng-click="va.SHOW_FILTS=!va.SHOW_FILTS"
                                 droppable id="{{va.filterCreator_ID}}" drop="NewFilterDrop">
                                Filters
                                <div class="txt-s-small">
                                    (drop key here to create new, click to fold/unfold)
                                </div>
                            </div>
                            <div ng-if="va.SHOW_FILTS" class="foldable editor-container bounded-block-m">
                                <div class="txt-c-grmore txt-s-med" ng-if="va.curmetafilter.filters.length==0">
                                    No Filters. Drag Key from right list to create new.
                                </div>
                                <div class="filter-row ngan-fade-mid" ng-repeat="nfilt in va.curmetafilter.filters">
                                    <div class="item-row" ng-if="!nfilt.ng_ToDelete" ng-class="{'invalid':nfilt.Invalid}">
                                        @* nfilt.ValsOps is array. if there more then 1 value, other values is like "OR" in expression *@
                                        <div class="txt-c-gr">
                                            <div>
                                                <i class="glyphicon glyphicon-filter"></i>
                                                <input class="txtinput" type="text" ng-model="nfilt.Name"
                                                       ng-model-options='{ debounce: 500 }'
                                                       ng-change='ValidateItem(nfilt,"filter")' />
                                            </div>
                                            <div class="txt-c-grmore">
                                                {{nfilt.Key}}
                                                <i class="txt-c-grmore glyphicon iconclick glyphicon-trash"
                                                   ng-click="RemoveItem(nfilt)"></i>
                                            </div>
                                        </div>

                                        <!-- Filter Expression -->
                                        @* if user input is allowed and autoupdated list is showed, this part won't be showed *@
                                        <div ng-if="!(nfilt.allowUserInput&&nfilt.autoUpdatedList)" class="ngan-fade-mid">
                                            <div ng-repeat="nvalop in nfilt.ValsOps" class="filter-expr" ng-class="{'first':$first}">
                                                <span style="width:30%" ng-if="!$first">
                                                    <span class="txt-c-grmore">or: </span>
                                                </span>
                                                <select text-align:center"
                                                        class="selector" ng-model="nvalop.Operator" 
                                                        ng-options="x for x in GetTypeOperatorsNames(nfilt.Type)"></select>
                                                <input placeholder="..." class="txtinput" 
                                                       type="{{InputType(nfilt.Type)}}" 
                                                       ng-model="nvalop.Value" 
                                                       ng-model-options="{timezone: '+0000'}"/>
                                                <i ng-if="nfilt.ValsOps.length>1" class="txt-c-grmore glyphicon iconclick glyphicon-trash"
                                                   ng-click="DeleteFiltValue(nfilt,$index)"></i>
                                            </div>
                                            <!-- Filter add 'OR' to Expression -->
                                            <span style="padding-left:20px" class="txt-c-grmore txt-anim hover-highlight clickable"
                                                  ng-click="AddFiltValue(nfilt)">add "or"</span>
                                        </div>


                                        <!-- Templates-user can tune this filter if checked -->
                                        <div class="txt-c-gr">
                                            <input type="checkbox" class="checkbox" ng-model="nfilt.allowUserInput" />
                                            Allow User Input
                                        </div>
                                        <div class="txt-c-gr" ng-if="nfilt.allowUserInput">
                                            <input type="checkbox" class="checkbox" ng-model="nfilt.autoUpdatedList" />
                                            Get list fields from db
                                        </div>

                                        <!-- If we have OR options in filter or filter is autoUpdated, and if userinput is allowed, it will be shown as selectable list -->
                                        <div ng-if="(nfilt.ValsOps.length>1||nfilt.autoUpdatedList)&&nfilt.allowUserInput" class="ngan-fade-mid">
                                            <div class="txt-s-small txt-c-grmore">this filter will be used like a list of options</div>
                                            <div class="txt-c-gr">
                                                <input type="checkbox" class="checkbox" ng-model="nfilt.allowMultipleSelection" />
                                                Allow multiple selection
                                            </div>
                                        </div>
                                    </div>
                                    <!--Restore deleted item-->
                                    <div ng-if="nfilt.ng_ToDelete" class="wildcard item-row" ng-class="{'invalid':rc.Invalid}">
                                        <span class="txt-c-gr">
                                            {{nfilt.Key}}
                                        </span>
                                        <span class="txt-c-grmore">
                                            (deleted)
                                        </span>
                                        <span ng-click="RestoreItem(nfilt)" class="txt-c-gr txt-anim hover-highlight clickable">
                                            restore
                                        </span>
                                    </div>
                                    <!--Validation info, if invalid-->
                                    <div class="txt-s-small ngan-fade-mid" ng-if="(!nfilt.ng_ToDelete)&&nfilt.Invalid">
                                        {{GetValidationInfo(nfilt)}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Possible keys for filter-->
                <div class="col-xs-4">
                    <div class="txt-s-med txt-c-gr">Table Keys:</div>
                    <div class="bounded-block-m">
                        <div ng-repeat="key in va.possiblekeys">
                            <div draggable draggableclass="{{va.keyDragClass}}" id="{{MakeId(va.keyIdPrefix,key.name)}}">
                                <span class="txt-c-gr txt-anim hover-highlight clickable">
                                    <span class="{{TypeToIcon(key.type)}}"></span>
                                    {{key.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- save or not-->
            @* showed only if rfilter has currently selected table *@
            <div class="col-xs-12" ng-if="IsCurMFiltHasAnyTable()&&IsCurMFiltHasTable(va.curbasetable)">
                <a class="abut" ng-click="SaveCurMFilt()">Save</a>
                <a class="abut" ng-click="CloseEditor()">Cancel</a>
            </div>
        </div>
    </div>
</div>
