@using DEBS = Business_Logic.DictExpressionBuilderSystem

<div ng-controller="SettingsController"
     data-ng-init="init({
        urls: {
            updateappconfig: '@Url.Action("Update","AppConfig")',
            getappconfig: '@Url.Action("Get","AppConfig")',
            getsmsprovs: '@Url.Action("Fetch","SmsProviderData")',
            getemailprovs: '@Url.Action("Fetch","EmailProviderData")',
            mngsmsprovs: '@Url.Action("Manage","SmsProviderData")',
            mngemailprovs: '@Url.Action("Manage","EmailProviderData")',
        }
    })">

<style>
    .shrink-txt{
        /*overflow:hidden;
        text-overflow:ellipsis*/
        word-wrap: break-word
    }

    .provider-block input{
        width:100%
    }

    .provider-enum{
        /*max-height: 110px; 
        overflow-y:auto;*/
        overflow-x:hidden
    }
</style>
    
    <div class="clearfix"><!-- Container  -->
    
        <div class="txt-s-med txt-c-gr bot-bord">
            @DEBS.Translate("MessageModule.General setting")
        </div>
        <!-- App Config  -->
        <div>
            <i class="glyphicon glyphicon-off clickable txt-anim"
               ng-click="va.batchSendingIsActive=!va.batchSendingIsActive; SetBatchSendingIsActive(va.batchSendingIsActive)"
               ng-class="va.batchSendingIsActive ? 'txt-c-green' : 'txt-c-red'">
            </i>
            <span>
                @DEBS.Translate("MessageModule.active")
            </span>
        </div>

        <!-- PROVIDERS -->

        <div style="overflow-y:auto; height:70%">


            <!-- -SMS- -->
            <div class="txt-s-med txt-c-gr bot-bord">
                @DEBS.Translate("MessageModule.Sms Providers")
            </div>
            <!-- Sms-provs enum  -->
            <!--Header-->
            <div class="row">
                <div class="col-xs-2 shrink-txt">
                    @DEBS.Translate("MessageModule.ProviderName")
                </div>
                <div class="col-xs-2 shrink-txt">
                    @DEBS.Translate("MessageModule.Username/Password")
                </div>
                <div class="col-xs-2 shrink-txt">
                    @DEBS.Translate("MessageModule.From(Name)")
                </div>
                <div class="col-xs-2 shrink-txt">
                    @DEBS.Translate("MessageModule.From(PhoneNumber)")
                </div>
                <div class="col-xs-1 shrink-txt">
                    @DEBS.Translate("MessageModule.MessageInterval")
                </div>
                <div class="col-xs-3 shrink-txt">
                    @DEBS.Translate("MessageModule.MaxMessages In Hour/In Day(0 is unlimited)")
                </div>
            </div>

            <div style="padding: 10px">
                <a ng-click="CreateSmsProvider()">@DEBS.Translate("MessageModule.create new")</a>
            </div>

            <!--Enum-->
            <div class="provider-enum">
                <div ng-repeat="prov in va.smsProvs">
                    <div class="provider-block row">

                        <div class="col-xs-2">
                            <i class="glyphicon glyphicon-off clickable txt-anim"
                               ng-click="prov.IsActive=!prov.IsActive; SaveProvider(prov)"
                               ng-class="prov.IsActive ? 'txt-c-green' : 'txt-c-red'">
                            </i>
                            <input style="width:80%" class="txtinput" type="text" ng-model="prov.Name" ng-blur="SaveProvider(prov)" />
                        </div>
                        <div class="col-xs-2">
                            <input class="txtinput" placeholder="..." type="text" ng-model="prov.Username" ng-blur="SaveProvider(prov)" />
                            <input class="txtinput" placeholder="..." type="password" ng-model="prov.Password" ng-blur="SaveProvider(prov)" />
                        </div>
                        <div class="col-xs-2">
                            <input class="txtinput" placeholder="..." type="text" ng-model="prov.FromDisplayName" ng-blur="SaveProvider(prov)" />
                        </div>
                        <div class="col-xs-2">
                            <input class="txtinput" placeholder="..." type="tel" ng-model="prov.FromPhoneNumber" ng-blur="SaveProvider(prov)" />
                        </div>
                        <div class="col-xs-1">
                            <input class="txtinput" type="number" ng-model="prov.MessageInterval" ng-blur="SaveProvider(prov)" />
                        </div>

                        <div class="col-xs-2">
                            <input style="width:49%" class="txtinput" type="number" ng-model="prov.RestrictionData.MaxMessagesInHour" ng-blur="SaveProvider(prov)" />
                            <input style="width:49%" class="txtinput" type="number" ng-model="prov.RestrictionData.MaxMessagesInDay" ng-blur="SaveProvider(prov)" />
                        </div>

                        <div class="col-xs-1">
                            <i class="glyphicon glyphicon-trash iconclick"
                               ng-click="DeleteProvider(prov)"></i>
                        </div>

                    </div>
                </div>
            </div>


            <!-- -EMAIL- -->

            <div class="txt-s-med txt-c-gr bot-bord">
                @DEBS.Translate("MessageModule.Email Providers")
            </div>
            <!-- Email-provs enum  -->
            <!--Header-->
            <div class="row">
                <div class="col-xs-2 shrink-txt">
                    @DEBS.Translate("MessageModule.ProviderName")
                </div>
                <div class="col-xs-2 shrink-txt">
                    @DEBS.Translate("MessageModule.Adress/Name/Password")
                </div>
                <div class="col-xs-2 shrink-txt">
                    @DEBS.Translate("MessageModule.SmtpHost")
                </div>
                <div class="col-xs-2 shrink-txt">
                    @DEBS.Translate("MessageModule.SmtpPort")
                </div>
                <div class="col-xs-1 shrink-txt">
                    @DEBS.Translate("MessageModule.EnableSsl")
                </div>
                <div class="col-xs-3 shrink-txt">
                    @DEBS.Translate("MessageModule.MaxMessages In Hour/In Day(0 is unlimited)")
                </div>
            </div>

            <div style="padding: 10px">
                <a ng-click="CreateEmailProvider()">@DEBS.Translate("MessageModule.create new")</a>
            </div>

            <!--Enum-->
            <div class="provider-enum">

                <div ng-repeat="prov in va.emailProvs">
                    <div class="provider-block row">

                        <div class="col-xs-2">
                            <i class="glyphicon glyphicon-off clickable txt-anim"
                               ng-click="prov.IsActive=!prov.IsActive; SaveProvider(prov)"
                               ng-class="prov.IsActive ? 'txt-c-green' : 'txt-c-red'">
                            </i>
                            <input style="width:80%" class="txtinput" type="text" ng-model="prov.Name" ng-blur="SaveProvider(prov)" />
                        </div>
                        <div class="col-xs-2">
                            <input class="txtinput" placeholder="..." type="email" ng-model="prov.FromEmailAddress" ng-blur="SaveProvider(prov)" />
                            <input class="txtinput" placeholder="..." type="text" ng-model="prov.FromEmailDisplayName" ng-blur="SaveProvider(prov)" />
                            <input class="txtinput" placeholder="..." type="password" ng-model="prov.FromEmailPassword" ng-blur="SaveProvider(prov)" />
                        </div>
                        <div class="col-xs-2">
                            <input class="txtinput" placeholder="..." type="text" ng-model="prov.SmtpHostName" ng-blur="SaveProvider(prov)" />
                        </div>
                        <div class="col-xs-2">
                            <input class="txtinput" placeholder="..." type="number" ng-model="prov.SmtpPort" ng-blur="SaveProvider(prov)" />
                        </div>
                        <div class="col-xs-1">
                            <i class="glyphicon iconclick"
                               ng-click="prov.EnableSsl=!prov.EnableSsl; SaveProvider(prov)"
                               ng-class="prov.EnableSsl ? 'glyphicon-check' : 'glyphicon-unchecked'">
                            </i>
                        </div>

                        <div class="col-xs-2">
                            <input style="width:49%" class="txtinput" type="number" ng-model="prov.RestrictionData.MaxMessagesInHour" ng-blur="SaveProvider(prov)" />
                            <input style="width:49%" class="txtinput" type="number" ng-model="prov.RestrictionData.MaxMessagesInDay" ng-blur="SaveProvider(prov)" />
                        </div>

                        <div class="col-xs-1">
                            <i class="glyphicon glyphicon-trash iconclick"
                               ng-click="DeleteProvider(prov)"></i>
                        </div>

                    </div>
                </div>
            </div>

        <!--PROVIDERS END-->
        </div>

    </div>
</div>

