@using System.Web.Optimization
@using Business_Logic.Helpers
@Styles.Render("~/bundles/Home")
@section scripts{
    @Scripts.Render("http://maps.googleapis.com/maps/api/js?language=he&libraries=places&key=" + MapHelper.ApiKey)
    @*@Scripts.Render("http://maps.googleapis.com/maps/api/js?libraries=places&key=" + MapHelper.ApiKey)*@


    @Scripts.Render("~/bundles/map")
    <script type="text/javascript">
        $(document).ready(smap.init);
    </script>
    <script src="~/Scripts/DragNDrop.js"></script>
}
@Html.Hidden("hfCenterLat", (string)ViewBag.CenterLat, new { @id = "hfCenterLat" })
@Html.Hidden("hfCenterLng", (string)ViewBag.CenterLng, new { @id = "hfCenterLng" })
@Html.Hidden("hfZoom", (string)ViewBag.Zoom, new { @id = "hfZoom" })
@Html.Hidden("hfTimeForLoad", (int)ViewBag.TimeForLoad, new { @id = "hfTimeForLoad" })
@Html.Hidden("hfHiddenLines", (string)ViewBag.HiddenLines, new { @id = "hfHiddenLines" })
@Html.Hidden("hfHiddenStations", (string)ViewBag.HiddenStations, new { @id = "hfHiddenStations" })
@Html.Hidden("hfHiddenStudents", (string)ViewBag.HiddenStudents, new { @id = "hfHiddenStudents" })
@Html.Hidden("hfShowStations", (bool)ViewBag.ShowStations, new { @id = "hfShowStations" })
<div class="map-canvas" id="map-canvas" style=""></div>

<div id="dSearchBar" class="row">
    <div class="glyphicon glyphicon-search col-lg-1 col-md-1 col-sm-1 col-xs-1" aria-hidden="true" id="btSearch"></div>

    <div id="dSearchForm" class=" col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="input-group">
            <input type="text" class="form-control" id="tbSearch" />
            <div class="input-group-addon"><span class="glyphicon glyphicon-search" style="cursor: pointer;" aria-hidden="true" id="btGoSearch"></span></div>
        </div>
    </div>
</div>
<div class="students-fly">
    <div class="header" style="padding-left: 10px; border-bottom: 1px solid #999; ">
        <h2>
            <a href="javascript:smap.switchStationsVisible();" title="Show all stations / hide stations without lines">
                <span class="glyphicon glyphicon-eye-open" id="btToggleStationsVisible"></span>
            </a>
            <a href="javascript:smap.lines.editLine(0);" title="Add new line" style="margin-left: 5px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a href="javascript:smap.reloadData();" title="Reload" style="margin-left: 5px;">
                <span class="glyphicon glyphicon-refresh" id="icoReloadBtn"></span>
            </a>
            <a href="javascript:smap.refreshColor();" title="RefreshColor" style="margin-left: 5px;">
                <span class="glyphicon glyphicon-repeat" id="icoRepeatBtn"></span>
            </a>
            <a href="javascript:smap.saveState();" title="Save state" style="margin-left: 5px;"><span id="icoSaveBtn" class="glyphicon glyphicon-floppy-disk"></span></a>
            <span style="margin-left: 5px; font-size: 10pt;" id="spStatus"></span>
        </h2>
    </div>
    <div class="header">
        <h2>Lines</h2>
        <div class="glyphicon glyphicon-chevron-up toggle" id="btToggleLines"></div>
    </div>
    <div class="content" id="dLinesTable">
        <table id="grLines"></table>
        <div id="pgLines"></div>
    </div>
    <div class="header">
        <h2>Students</h2>
        <div class="glyphicon glyphicon-chevron-up toggle" id="btToggleStudents"></div>
    </div>
    <div class="content" id="dStudentsTable">
        <table id="grStudents"></table>
        <div id="pgStudents"></div>
    </div>
</div>
@*Dialogs*@
<div id="dialog-form" title="Add / Edit station" style="display: none; overflow: hidden;">
    <form action="/api/stations/Save" id="frmCreate" method="POST" class="form-horizontal">
        <div class="form-group" id="dCSAddrBlock">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <input type="radio" name="CSPosition" checked="checked" id="rCSThis" />
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">This location</div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <input type="radio" name="CSPosition" style="margin-top: 9px;" id="rCSAddr" />
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <div class="form-group has-feedback" id="dCSControl">
                        <input type="text" class="form-control input-sm" id="tbCSAddress" style="display: inline-block;">
                        <span title="Correct address" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" id="spCSSucIcon"></span>
                        <span title="Address not found" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" id="spCSWarnIcon"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top: 6px;">
                <span class="control-label">Name</span>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <input type="text" name="Name" id="tbName" value="New station" class="text form-control input-sm">
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top: 5px;">
                    <span class="control-label">Color</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input type='text' id="tbColor" class="form-control basic" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top: 5px;">
                    <input type="checkbox" id="cbCSSchool" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top: 6px;">School</div>
            </div>
        </div>
        <input type="hidden" id="hfStationId" name="Id" />
        <input type="hidden" id="hfCreateColor" name="Color" />
        <input type="hidden" id="hfCreateLat" name="StrLat" />
        <input type="hidden" id="hfCreateLng" name="StrLng" />
        <input type="hidden" id="hfCSSelectedLat" name="CStrLat" />
        <input type="hidden" id="hfCSSelectedLng" name="CStrLng" />
    </form>
</div>
<div id="dlgConfirm" title="Confirm action" style="display: none;">
    <div id="dConfirmMessage" class="message"></div>
    <input type="hidden" id="hfCurrentId" />
</div>
<div id="dlgAttach" title="Attach student to station" style="display: none;">
    <form id="frmAttach">
        <div class="message" id="dConfirmAttach"></div>
        <div id="dAttachDist" class="message">
            <img src="/Content/img/ajax-loader.gif" />
        </div>
        <div id="dAttachLines" rel="AttachLines" class="form-group row message">
            <label for="ddlAttachLines" class="col-xs-3 col-lg-3 col-md-3 col-sm-3 control-label">Line</label>
            <select id="ddlAttachLines" name="LineId" style="width: 200px;" class="form-control" onchange="smap.stations.attachStudentLineSelected();"></select>
        </div>
        <div class="form-group row message">
            <label for="dAttachColor" class="col-xs-3 col-lg-3 col-md-3 col-sm-3 control-label">Color</label>
            <div id="dAttachColor" style="text-align: left;" class="col-xs-9 col-lg-9 col-md-9 col-sm-9">
                <input type="radio" name="UseColor" value="0" id="rAttachLeave" />
                <span>Leave</span>
                <div class="color-indicator-small" id="ciAttachLeave"></div>
                <br />
                <input type="radio" name="UseColor" value="1" id="rAttachStation" />
                <span>Station</span>
                <div class="color-indicator-small" id="ciAttachStation"></div>
                <div rel="AttachLines">
                    <input type="radio" name="UseColor" value="2" id="rAttachLine" />
                    <span>Line</span>
                    <div class="color-indicator-small" id="ciAttachLine"></div>
                </div>
            </div>
        </div>
        <div class="form-group row message" id="dAttachMultiline" style="display: none;">
            <div class="row"><span id="sAttachMName"></span> already attached to station <span id="sAttachMStation"></span></div>
            <div class="row message" style="text-align: left;">
                <input type="radio" name="ConflictAction" id="rAttachReplace" value="0" /> <span>Replace default route</span><br />
                <input type="radio" name="ConflictAction" id="rAttachSchedule" value="1" onchange="smap.stations.dateVisibleSwitch" /><span>Schedule route for</span>
            </div>
            <div class="row message">
                <input type="text" id="tbAttachDate" style="width: 150px;" name="StrDate" />
                <input type="number" id="tbAttachHours" style="width: 40px; margin-left: 20px;" name="Hours" />
                <span>:</span>
                <input type="number" id="tbAttachMinutes" style="width: 40px;" name="Minutes" />
            </div>
        </div>
        <input type="hidden" id="hfAttachStudentId" name="StudentId" />
        <input type="hidden" id="hfAttachStationId" name="StationId" />
        <input type="hidden" id="hfAttachDistance" name="Distance" />
    </form>
</div>
<div id="dlgAddToLine" title="Add station to line" style="display: none;">
    <form id="frmAddStationTolIne">
        <input type="hidden" name="StationId" id="hfAddStationId" />
        <div class="form-group">
            <label for="ddlAddLine" class="col-xs-3 control-label">Line</label>
            <select id="ddlAddLine" name="LineId" class="text form-control input-sm" style="width: 200px"></select>
        </div>
        @*<div class="row form-group">
                <label for="tbAddLineHours" class="col-xs-3 control-label">Arrival Time</label>
                <span>
                    <input type="number" id="tbAddLineHours" name="Hours" class="form-control input-sm" style="width: 50px; display: inline;" />
                    <span class="form-control-static" style="margin-left: 5px; margin-right: 5px;">:</span>
                    <input type="number" id="tbAddLineMinutes" name="Minutes" class="form-control input-sm" style="width: 50px; display: inline;" />

                </span>
            </div>*@
        <div class="row form-group">
            <label for="ddlAddPosition" class="col-xs-3 control-label">Position</label>
            <select id="ddlAddPosition" name="Position" class="text form-control input-sm" style="width: 50px"></select>
        </div>
        <div class="row form-group">
            <label for="ddlAddLine" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Color</label>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <input type="radio" name="ChangeColor" value="false" id="rAddStation" />
                <span style="margin-left: 5px; margin-right: 5px;">Leave</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="color-indicator" id="dAddStation"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-3  col-lg-offset-3 col-sm-offset-3 col-md-offset-3">
                <input type="radio" name="ChangeColor" value="true" id="rAddLine" />
                <span style="margin-left: 5px; margin-right: 5px;">Line</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="color-indicator" id="dAddLine"></div>
            </div>
        </div>

    </form>
</div>
<div id="dlgEditToLine" title="Edit station on line" style="display: none;">
    <div id="tabLines"></div>
    <div>
        <form id="frmEditToLine">
            <div class="row form-group" style="margin-left: 52px;">
                <label for="tbAddLineHours" class="tlower col-xs-3 control-label">Arrival Time</label>
                <span>
                    <input type="number" id="tbEditLineHours" name="Hours" class="form-control input-sm" style="width: 80px; display: inline;" />
                    <span class="form-control-static" style="margin-left: 5px; margin-right: 5px;">:</span>
                    <input type="number" id="tbEditLineMinutes" name="Minutes" class="form-control input-sm" style="width: 80px; display: inline;" />
                </span>
            </div>
            <div class="row form-group" style="margin-left: 52px;">
                <label for="ddlEditPosition" class="tlower col-xs-3 control-label">Position</label>
                <select id="ddlEditPosition" name="Position" class="text form-control input-sm" style="width: 183px"></select>
            </div>
            <div class="row form-group" style="margin-top:27px">
                <label for="cbEditLineColor" class="col-xs-4 control-label">Use line color </label>
                <input type="checkbox" name="StrChangeColor" id="cbEditLineColor">
            </div>
            <input type="hidden" id="hfEditToLineStationId" name="StationId" />
            <input type="hidden" id="hfEditToLineLineId" name="LineId" />
        </form>
    </div>
</div>
<div id="dlgDeleteFromLine" title="Delete station from line" style="display: none;">
    <div id="dDeleteLines">
    </div>
    <input type="hidden" id="hfDeleteFromLineStationId" />
</div>
<div id="dlgAddLine" title="Add new line" style="display: none;">
    <form id="frmEditLine">
        <input type="hidden" id="hfEditLineId" name="Id" />
        <input type="hidden" id="hfEditLineColor" name="Color" />
        <div class="row form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="tbEditLineNumber">Number</label>
            <input type="text" id="tbEditLineNumber" name="LineNumber" class="form-control" />
        </div>
        <div class="row form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="tbEditLineName">Name</label>
            <input type="text" id="tbEditLineName" name="Name" class="form-control" />
        </div>
        <div class="row form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="tbEditLineColor">Color</label>
            <input type="text" id="tbEditLineColor" class="form-control" />
        </div>
        <div class="row form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="ddlEditLineDirection">Direction</label>
            <select id="ddlEditLineDirection" name="Direction" class="form-control">
                <option value="0">TO</option>
                <option value="1">FROM</option>
            </select>
        </div>
    </form>
</div>
<div id="dlgSchedule" title="Student's stations" style="display: none;">
    <input type="hidden" id="hfAttachListStationId" />
    <h2 id="dAttachName"></h2>
    <table id="dScheduleGrid"></table>
</div>
<div id="dlgTimeTable" title="Time table" style="display: none;">
    <input type="hidden" id="hfTTLineId" />
    <div id="dTTMessage" style="text-align: center;" class="row">

    </div>
    <div class="row form-horizontal text-center">
        <input type="number" id="tbTTHours" class="form-inline" style="width: 50px;" />
        <span>:</span>
        <input type="number" id="tbTTMinutes" class="form-inline" style="width: 50px;" />
        <button class="btn btn-primary btn-xs" onclick="smap.lines.reCalcTimeTable();">Calculate</button>
    </div>
    <div class="row">
        <table id="tblTTGrid"></table>
    </div>
</div>

<div id="dlgStudAddr" title="Student Address" style="display: none;">
    <form id="frmStudAddr" class="form-inline">

        <input type="hidden" name="StudentId" />
        <div class="container">
            
                <div >
                    <div class="label">City</div>

                    <input type="text" class="form-control input-xs" placeholder="City" name="City" />

                    <input type="hidden" name="CityId" />
                </div>
                <div >
                    <div class="label">Street</div>
                    <input type="text" class="form-control input-xs has-error" placeholder="Street" name="Street" />
                    <input type="hidden" name="StreetId" />
                </div>
                <div >
                    <div class="label">House</div>
                    <input type="text" class="form-control input-xs" placeholder="House" name="HouseNumber" />
                </div>
          
        </div>
    </form>

</div>
@*End Dialogs*@
